

table td{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding-left: 70px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}